<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Streaming</title>
    <link href="//vjs.zencdn.net/7.0.0/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/7.0.0/video.min.js"></script>



    <style>
    .column {
        float: left;
    }
    .left {
      width: 80%;
    }

    .right {
      width: 20%;
    }
    </style>

</head>
<body>


<div class='column left'>
  {% include 'video_embed.html' %}

</div>

<div class='column right'>

  {% include 'chat_embed.html' %}

  <ul>
<li><a href="{% url 'chatroom' %}">Chat Only</a></li>
<li><a href="{% url 'videoroom' %}">Video Only</a></li>
{% if superuser %}
<li><a href="{% url 'invitation_list' %}">Manage Invitations</a></li>
<li><a href="{% url 'user_list' %}">Manage Users</a></li>
{% endif %}
<li><a href="{% url 'logout' %}">Logout</a></li>
</ul>

</div>

</body>
</html>
